* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.no-opacity:hover {
    opacity: 0.7;
}

hr {
    height: 3px;
    color: #BCBBBB;
    background: #BCBBBB;
    font-size: 0;
    border: 0;
}

h3 {
    margin-top: 25px;
}

a {
    color: #BCBBBB;
}

a:hover {
    color: #747704;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
    border-radius: 50%;
    height: 100px;
    width: 120px;
}

.title-super {
    font-size: 60px;
}

.row {
    margin-bottom: 50px;
}

.social-media-icons ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media-icons a {	
	display: inline-block;
	text-decoration: none;
	padding: 7px;
}

.social-media-icons a:nth-child(1) i {
	color: #3B5998;
}

.social-media-icons a:nth-child(2) i {
	color: #4099FF;
}

.social-media-icons a:nth-child(3) i {
	color: #f46f30;
}

.social-media-icons a i:hover{
	color: black;
}